.modal-body .input-group-addon {
  min-width: 0px;
}

.submitting {
  position: fixed;
  display: block;
  width: 98%;
  height: 100%;
  top: 0;
  left: 20px;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.spinner {
  margin: auto;
  position: relative;
  top: 40%;
  width: 50%;
  height: 50%;
  color: #06537D;
}
