<h3 *ngIf="!editMode">{{ template.templateName }}
  <i class="fa fa-pencil text-primary" aria-hidden="true" (click)="editTitle()"></i>
</h3>

<ng-container *ngIf="editMode">
  <input type="text" class="form-control" [(ngModel)]="editValue"
  (keyup.enter)="confirmTitleEdit()"
  (keydown)="cancelKeyDown($event, 'back')"/>
  <button class="btn btn-secondary btn-sm shadow-nohover confirm" type="button" (click)="confirmTitleEdit()">
    <i class="fa fa-check" aria-hidden="true"></i>
  </button>
  <button class="btn btn-secondary btn-sm shadow-nohover cancel" type="button"
  (click)="cancelTitleEdit()"
  (keydown)="cancelKeyDown($event, 'forward')">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</ng-container>
