.form-loading {
  border: 2px dashed #c7cbd5;
  height: 60vh;
  border-radius: 7px;
}

.spinner {
  margin: auto;
  position: relative;
  top: 15%;
  width: 50%;
  height: 50%;
}
.terms {
  background-color: #e4e6eb;
  opacity: 1;
}