$gray-300: #c7cbd5;
$gray-500: #678898;

li {
  position: relative;
  height: 50px;
  vertical-align: middle;
  margin-bottom: 20px;
}

li .update, li .link {
   margin-right : 8px;
}

li .update .modified {
  margin-top: 2px;
}

li .actions {
	position: absolute;
	top: -4px;
	right: 0px;
	width: 200px;
	height: 40px;
	line-height: 40px;
  text-align: right;
}

li .actions i {
  font-size: 23px;
  color: rgb(65, 122, 153);
  opacity: 0.6;
}

li .actions i:hover {
  color: rgb(65, 122, 153);
  opacity: 1;
  cursor: pointer;
}

li .desc .title {
  padding: 0;
  margin: 0;
  // color: #778899;
}

li .desc {
	height: 50px;
  
  border-bottom: 1px solid $gray-300;
}
