<div class="card card-accent-secondary" [attr.data-id]="item.id" [ngClass]="{'edit': editFieldMode}">
  <designer-section-title [item]="item" [isSection]="false" [isColumnLayout]="isColumnLayout" [containsMappedFields]="doesFieldsetContainMappedFields()"
    [editFieldMode]="editFieldMode" (edit)="onEdit()" (delete)="onDelete()">
  </designer-section-title>
   <ng-container>
    <div *ngIf="!editFieldMode" class="card-body fieldset" [ngClass]="{'d-flex  flex-wrap': isColumnLayout}" [dragula]="'field-bag'" [dragulaModel]="item.items" [attr.data-id]="item.id" >
      <designer-item class="flex-fill" *ngFor="let item of item.items" [attr.data-id]="item.id"
        [item]="item"
        [templateInstance]="templateInstance"
        [dropdowns]="dropdowns"
        (delete)="onDeleteField($event)">
      </designer-item>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="editFieldMode">
  <div class="animated fadeInDown card config">
    <field-configurator [item]="item" [templateInstance]="templateInstance" [dropdowns]="dropdowns" (complete)="onFieldConfigComplete($event)"></field-configurator>
  </div>
</ng-container>

<ng-template #modalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm Delete</h4>
  </div>
  <div class="modal-body">
    Are you sure you want to delete <b>{{ item.displayName }}</b>?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="confirmDelete()">Yes</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-primary" (click)="declineDelete()">No</button>
  </div>
</ng-template>
